bokeh==0.11.1
cloudpickle==0.1.1
conda==4.0.5
conda-env==2.4.5
cycler==0.10.0
Cython==0.23.5
decorator==4.0.9
dill==0.2.4
fastcache==1.0.2
h5py==2.5.0
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jsonschema==2.4.0
jupyter-client==4.2.2
jupyter-core==4.1.0
jupyterhub==0.5.0
llvmlite==0.8.0
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.2
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.11
notebook==4.1.0
numba==0.23.1
numexpr==2.5.2
numpy==1.10.4
pamela==0.2.1
pandas==0.17.1
path.py==0.0.0
patsy==0.4.1
pexpect==3.3
pickleshare==0.5
Pillow==3.2.0
ptyprocess==0.5
pycosat==0.6.1
pycrypto==2.6.1
Pygments==2.1.1
pyparsing==2.0.3
python-dateutil==2.5.2
pytz==2016.3
PyYAML==3.11
pyzmq==15.2.0
requests==2.9.1
scikit-image==0.11.3
scikit-learn==0.17.1
scipy==0.17.0
seaborn==0.7.0
simpledbf==0.2.6
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.12
statsmodels==0.6.1
sympy==0.7.6.1
terminado==0.5
tornado==4.3
traitlets==4.1.0
